body {
  background: rgb(228, 34, 82);
  background: linear-gradient(0deg, rgba(228, 34, 82, 1) 0%, rgba(28, 1, 1, 1) 100%);
  font-family: sans-serif;
  font-size: 2em;
  margin: 0 auto;
  height: 100vh;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.done {
  text-decoration: line-through;
}